@import '../../styles/index.module.scss';


.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-family-input;
    border: 1px solid #ef666685;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(13, 13, 13, 0.84);
    width: 500px;
    max-width: 80%;
    height: 350px;
    text-align: center;
    display: none;
    color: rgb(234, 52, 52);


    .modalHeader{
        display: flex;
        
        .header{
            flex-basis: 90%;
            
            h1{
                margin-left: 60px;
            }
        }

        .icon{
            position: relative;
            flex-basis: 10%;
            
            i{
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               color: #ffffff;
            }
        }
    }

    .modalBody{
        margin: 80px;

        p{
            font-size: 20px;
        }
        
        button{
            margin: 40px auto;
            padding: 20px 50px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #00000049;
            color: white;
            font-size: 24px;
            background-color: rgba(165, 161, 161, 0.746)
        }
    }
}

.active{
    display: block;
}